.title {
  color: hsla(0, 0%, 0%, 0.7);
}


  h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 0.8rem;
    color: hsla(0, 0%, 0%, 0.7);

  }
  img {
    border-radius: 5px;
  }


.button {
  background: #a777e3;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  padding: 5px 8px;
  border:none;
}

.button:hover {
    background: #883fe1;
    cursor: pointer;
}
.smbutton {
    background: #a777e3;
    border-radius: 4px;
    color: white;
    font-size: 0.9rem;
    padding: 2px 3px;
    border:none;
    margin-left: 5px;
  }
  
  .smbutton:hover {
      background: #883fe1;
      cursor: pointer;
  }
  
