.button {
    background: #a777e3;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    padding: 5px 8px;
    border:none;
  }
  
  .button:hover {
      background: #883fe1;
      cursor: pointer;
  }

  .input{
      border-radius:5px;
      border:1px solid #9e93ab;
  }
